#### Get Imports & Set Options

In [1]:
import pandas as pd
import warnings
import re
import numpy as np

pd.set_option('display.max_columns', None)
pd.options.mode.chained_assignment = None  # default='warn'
warnings.simplefilter(action='ignore', category=FutureWarning)

import os
term_size = os.get_terminal_size()

#### Get Team Sheets

In [2]:
file = "Turn Data/Show Team.xlsx"

def get_first_team():
    PV = 10
    print("\n")
    print('=' * term_size.columns)
    print('\n' + "First Team" + '\n')
    print('=' * term_size.columns)
    gks = pd.read_excel(open(file,"rb"), sheet_name="gks") # get gks
    gks.drop(list(gks.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    gks.iloc[:,17:20] = gks.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    gks.iloc[:,21:] = gks.iloc[:,21:].fillna(0) # fill PVs with 0s
    gks["GK"] = gks["GK"].astype(int)
    gks.iloc[:,21:] = gks.iloc[:,21:].where(gks.iloc[:,21:] > PV, "")
    
    deff = pd.read_excel(open(file,"rb"), sheet_name="deff") # get defenders
    deff.drop(list(deff.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    deff.iloc[:,17:20] = deff.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    deff.iloc[:,21:] = deff.iloc[:,21:].fillna(0) # fill PVs with 0s
    deff[["CB","LB","RB","SW","LWB","RWB"]] = deff[["CB","LB","RB","SW","LWB","RWB"]].astype(int)
    deff.iloc[:,21:] = deff.iloc[:,21:].where(deff.iloc[:,21:] > PV, "")
    
    mid = pd.read_excel(open(file,"rb"), sheet_name="mid") # get midfielders
    mid.drop(list(mid.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    mid.iloc[:,17:20] = mid.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    mid.iloc[:,21:] = mid.iloc[:,21:].fillna(0) # fill PVs with 0s
    mid[["CM","AM","PL","FR","RW","LW"]] = mid[["CM","AM","PL","FR","RW","LW"]].astype(int)
    mid.iloc[:,21:] = mid.iloc[:,21:].where(mid.iloc[:,21:] > PV, "")
    
    att = pd.read_excel(open(file,"rb"), sheet_name="att") # get attackers
    att.drop(list(att.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    att.iloc[:,17:20] = att.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    att.iloc[:,21:] = att.iloc[:,21:].fillna(0) # fill PVs with 0s
    att[["LF","RF","IF","CF","TM"]] = att[["LF","RF","IF","CF","TM"]].astype(int)
    att.iloc[:,21:] = att.iloc[:,21:].where(att.iloc[:,21:] > PV, "")

    display(gks.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Dis","Crs"]),
            deff.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]),
            mid.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]),
            att.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]))

In [3]:
def get_reserve_team():
    PV = 28
    print("\n")
    print('=' * term_size.columns)
    print('\n' + "Reserve Team" + '\n')
    print('=' * term_size.columns)
    r_gks = pd.read_excel(open(file,"rb"), sheet_name="r_gks") # get gks
    r_gks.drop(list(r_gks.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    r_gks.iloc[:,17:20] = r_gks.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    r_gks.iloc[:,21:] = r_gks.iloc[:,21:].fillna(0) # fill PVs with 0s
    r_gks["GK"] = r_gks["GK"].astype(int)
    r_gks.iloc[:,21:] = r_gks.iloc[:,21:].where(r_gks.iloc[:,21:] > PV, "")
    
    r_deff = pd.read_excel(open(file,"rb"), sheet_name="r_deff") # get defenders
    r_deff.drop(list(r_deff.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    r_deff.iloc[:,17:20] = r_deff.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    r_deff.iloc[:,21:] = r_deff.iloc[:,21:].fillna(0) # fill PVs with 0s
    r_deff[["CB","LB","RB","SW","LWB","RWB"]] = r_deff[["CB","LB","RB","SW","LWB","RWB"]].astype(int)
    r_deff.iloc[:,21:] = r_deff.iloc[:,21:].where(r_deff.iloc[:,21:] > PV, "")
    
    r_mid = pd.read_excel(open(file,"rb"), sheet_name="r_mid") # get midfielders
    r_mid.drop(list(r_mid.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    r_mid.iloc[:,17:20] = r_mid.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    r_mid.iloc[:,21:] = r_mid.iloc[:,21:].fillna(0) # fill PVs with 0s
    r_mid[["CM","AM","PL","FR","RW","LW"]] = r_mid[["CM","AM","PL","FR","RW","LW"]].astype(int)
    r_mid.iloc[:,21:] = r_mid.iloc[:,21:].where(r_mid.iloc[:,21:] > PV, "")
    
    r_att = pd.read_excel(open(file,"rb"), sheet_name="r_att") # get attackers
    r_att.drop(list(r_att.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    r_att.iloc[:,17:20] = r_att.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    r_att.iloc[:,21:] = r_att.iloc[:,21:].fillna(0) # fill PVs with 0s
    r_att[["LF","RF","IF","CF","TM"]] = r_att[["LF","RF","IF","CF","TM"]].astype(int)
    r_att.iloc[:,21:] = r_att.iloc[:,21:].where(r_att.iloc[:,21:] > PV, "")

    display(r_gks.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Dis","Crs"]),
            r_deff.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]),
            r_mid.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]),
            r_att.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]))

In [4]:
def get_youth_team():
    PV = 26
    print("\n")
    print('=' * term_size.columns)
    print('\n' + "Youth Team" + '\n')
    print('=' * term_size.columns)

    y_gks = pd.read_excel(open(file,"rb"), sheet_name="y_gks") # get defenders
    y_gks.drop(list(y_gks.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    y_gks.iloc[:,17:20] = y_gks.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    y_gks.iloc[:,21:] = y_gks.iloc[:,21:].fillna(0) # fill PVs with 0s
    y_gks["GK"] = y_gks["GK"].astype(int)
    y_gks.iloc[:,21:] = y_gks.iloc[:,21:].where(y_gks.iloc[:,21:] > PV, "")
    
    y_deff = pd.read_excel(open(file,"rb"), sheet_name="y_deff") # get defenders
    y_deff.drop(list(y_deff.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    y_deff.iloc[:,17:20] = y_deff.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    y_deff.iloc[:,21:] = y_deff.iloc[:,21:].fillna(0) # fill PVs with 0s
    y_deff[["CB","LB","RB","SW","LWB","RWB"]] = y_deff[["CB","LB","RB","SW","LWB","RWB"]].astype(int)
    y_deff.iloc[:,21:] = y_deff.iloc[:,21:].where(y_deff.iloc[:,21:] > PV, "")
    
    y_mid = pd.read_excel(open(file,"rb"), sheet_name="y_mid") # get defenders
    y_mid.drop(list(y_mid.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    y_mid.iloc[:,17:20] = y_mid.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    y_mid.iloc[:,21:] = y_mid.iloc[:,21:].fillna(0) # fill PVs with 0s
    y_mid[["CM","AM","PL","FR","RW","LW"]] = y_mid[["CM","AM","PL","FR","RW","LW"]].astype(int)
    y_mid.iloc[:,21:] = y_mid.iloc[:,21:].where(y_mid.iloc[:,21:] > PV, "")
    
    y_att = pd.read_excel(open(file,"rb"), sheet_name="y_att") # get defenders
    y_att.drop(list(y_att.filter(regex='Unnamed: 0')), axis=1, inplace=True) # if unnamed col appears, drop it
    y_att.iloc[:,17:20] = y_att.iloc[:,17:20].fillna("") # fill NaN in Potential with blanks
    y_att.iloc[:,21:] = y_att.iloc[:,21:].fillna(0) # fill PVs with 0s
    y_att[["LF","RF","IF","CF","TM"]] = y_att[["LF","RF","IF","CF","TM"]].astype(int)
    y_att.iloc[:,21:] = y_att.iloc[:,21:].where(y_att.iloc[:,21:] > PV, "")

    display(y_gks.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Dis","Crs"]),
            y_deff.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]),
            y_mid.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]),
            y_att.style.background_gradient(cmap='viridis',vmax=10, vmin=1, axis=0, subset=['Spe',"Agg","Vis"]))

#### Show Teams

In [5]:
def show_teams():
    get_first_team()
    get_reserve_team()
    get_youth_team()

show_teams()

========================================================================================================================

First Team

========================================================================================================================

========================================================================================================================

Reserve Team

========================================================================================================================

========================================================================================================================

Youth Team

========================================================================================================================